@import '../global.scss';

.splash {
    width: 100%;
    background-image: url('/assets/images/home/stats.png');
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    z-index: -1;
    padding: 250px 100px !important;
}

.content {
    & .about {
        width: 40%;
        padding: 100px !important;
        margin-bottom: 160px;

        & .detail {
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            & .explain {
                margin-top: 60px;
            }
        }
    }

    & .portfolio {
        width: 60%;
        top: -160px;
        padding-right: 100px !important;
        position: relative;

        & img {
            width: 100%;
        }
    }
}

@media (max-width: 1440px) {
    .content {
        & .about {
            padding: 50px !important;
            width: 40%;

            & p {
                margin-top: 30px;
            }
        }

        & .portfolio {
            width: 60%;
            top: -120px;
        }
    }
}

@media (max-width: 1200px) {
    .content {
        & .about {
            padding: 50px !important;
            width: 40%;

            & p {
                margin-top: 20px;
            }
        }

        & .portfolio {
            width: 60%;
            top: -100px;
            padding-right: 50px !important;
        }
    }
}

@media (max-width: 992px) {
    .content {
        & .about {
            padding: 50px 25px !important;
            width: 45%;

            & p {
                margin-top: 20px;
            }
        }

        & .portfolio {
            width: 55%;
            padding-right: 25px !important;
            top: -80px;
        }
    }
}

@media (max-width: 768px) {
    .splash {
        padding: 250px 0px 250px 50px !important;
    }

    .content {
        margin-bottom: 100px;

        & .about {
            width: 100%;
            padding: 0 25px !important;
            text-align: center;
            height: 100%;
            margin-top: -80px;
            margin-bottom: 0px;

            & .detail {
                top: 0;
                transform: translateY(0);
            }
        }

        & .portfolio {
            width: 100%;
            top: -120px;
            padding: 0 50px !important;
        }
    }
}

@media (max-width: 576px) {
    .splash {
        padding: 250px 0px 250px 30px !important;
    }

    .content {
        margin-bottom: 100px;

        & .about {
            width: 100%;
            padding: 0 25px !important;
            padding-top: 70px !important;
            text-align: center;
            height: 100%;
            margin-top: -80px;
            margin-bottom: 0px;

            & .detail {
                top: 0;
                transform: translateY(0);
            }
        }

        & .portfolio {
            width: 100%;
            top: -100px;
            padding: 0 50px !important;
        }
    }
}
