<div class="d-flex flex-row justify-content-between footer">
    <div class="p-0">
        <h1>GEORGEGANKAS</h1>
        <p>2018 George Gankas Golf</p>
    </div>
    <div class="p-0">
        <h5>CONTACT</h5>
        <p>Online Support</p>
        <p>Book a Lesson</p>
        <p>Business Inquiry</p>
    </div>
    <div class="p-0">
        <h5>ABOUT</h5>
        <p>Privacy Policy</p>
        <p>Terms of Service</p>
    </div>
    <div class="p-0">
        <h5>FOLLOW</h5>
        <p>Facebook</p>
        <p>Instagram</p>
        <p>Twitter</p>
        <p>YouTube</p>
        <p>Blog</p>
    </div>
    <div class="p-0">
        <h5>MORE</h5>
        <p>Training Aids</p>
        <p>Golf Schools</p>
        <p>Find a Coach</p>
        <p>Apparel</p>
    </div>
</div>