.footer {
    padding: 150px 100px;
    background-color: #234558;
    color: #FFFFFF;

    & div {
        margin-bottom: 30px;

        &.title {
            margin-bottom: 50px;

            & .logo {
                margin-bottom: 10px;

                & img {
                    height: 40px;
                }
            }

            & p {
                font-family: 'Myriad Pro Light';
                font-size: 12px;
            }
        }

        & h5 {
            font-family: 'Myriad Pro Semibold';
            font-size: 18px;
            margin-bottom: 30px;
        }

        & p {
            font-family: 'Myriad Pro Light';
            font-size: 14px;
        }
    }
}

@media (max-width: 767px) {
    .footer {
        & div {
            text-align: center;
        }
    }
}

@media (max-width: 576px) {
    .footer {
        & div {
            text-align: center;
        }
    }
}
