.marks {
    background-color: #234558;
}

.marks span {
    padding: 25px !important;
    height: 80px;
    font-family: 'Myriad Pro Regular';
    font-size: 15px;
    color: #FFFFFF;
    line-height: 30px;
}

.marks span img {
    height: 30px;
}
