<div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item">
                <a href="/learning">
                    <i class="la la-home"></i>
                    <span class="menu-title" data-i18n="nav.dash.main">Dashboard</span>
                    <span class="badge badge badge-info badge-pill float-right mr-2">3</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#">
                    <i class="la la-television"></i>
                    <span class="menu-title" data-i18n="nav.templates.main">Templates</span>
                </a>
            </li>
            <li class=" navigation-header">
                <span data-i18n="nav.category.layouts">Layouts</span>
                <i class="la la-ellipsis-h ft-minus" data-toggle="tooltip" data-placement="right" data-original-title="Layouts"></i>
            </li>
            <li class=" nav-item"><a href="#">
                <i class="la la-columns"></i>
                <span class="menu-title" data-i18n="nav.page_layouts.main">Page layouts</span>
                <span class="badge badge badge-pill badge-danger float-right mr-2">New</span></a>
            </li>
            <li class=" nav-item">
                <a href="#">
                    <i class="la la-arrows-h"></i>
                    <span class="menu-title" data-i18n="nav.horz_nav.main">Horizontal Nav</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#">
                    <i class="la la-header"></i>
                    <span class="menu-title" data-i18n="nav.page_headers.main">Page Headers</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#">
                    <i class="la la-paint-brush"></i>
                    <span class="menu-title" data-i18n="nav.color_palette.main">Color Palette</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#">
                    <i class="la la-puzzle-piece"></i>
                    <span class="menu-title" data-i18n="nav.starter_kit.main">Starter kit</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="changelog.html">
                    <i class="la la-copy"></i>
                    <span class="menu-title" data-i18n="nav.changelog.main">Changelog</span>
                    <span class="badge badge badge-pill badge-warning float-right">1.0</span>
                </a>
            </li>
            <li class="disabled nav-item">
                <a href="#">
                    <i class="la la-eye-slash"></i>
                    <span class="menu-title" data-i18n="nav.disabled_menu.main">Disabled Menu</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#">
                    <i class="la la-android"></i>
                    <span class="menu-title" data-i18n="nav.menu_levels.main">Menu levels</span>
                </a>
            </li>
            <li class=" navigation-header">
                <span data-i18n="nav.category.pages">Pages</span>
                <i class="la la-ellipsis-h ft-minus" data-toggle="tooltip" data-placement="right" data-original-title="Pages"></i>
            </li>
            <li class=" nav-item">
                <a href="email-application.html">
                    <i class="la la-envelope"></i>
                    <span class="menu-title" data-i18n="">Email Application</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="chat-application.html">
                    <i class="la la-comments"></i>
                    <span class="menu-title" data-i18n="">Chat Application</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#">
                    <i class="la la-briefcase"></i>
                    <span class="menu-title" data-i18n="nav.project.main">Project</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#">
                    <i class="la la-unlock"></i>
                    <span class="menu-title" data-i18n="nav.login_register_pages.main">Authentication</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#">
                    <i class="la la-warning"></i>
                    <span class="menu-title" data-i18n="nav.error_pages.main">Error</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#">
                    <i class="la la-file-text"></i>
                    <span class="menu-title" data-i18n="nav.other_pages.main">Others</span>
                </a>
            </li>
            <li class=" navigation-header">
                <span data-i18n="nav.category.ui">User Interface</span>
                <i class="la la-ellipsis-h ft-minus" data-toggle="tooltip" data-placement="right" data-original-title="User Interface"></i>
            </li>
            <li class=" nav-item">
                <a href="#">
                    <i class="la la-tablet"></i>
                    <span class="menu-title" data-i18n="nav.cards.main">Cards</span>
                    <span class="badge badge badge-success float-right mr-2">New</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#">
                    <i class="la la-fire"></i>
                    <span class="menu-title" data-i18n="nav.advance_cards.main">Advance Cards</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#">
                    <i class="la la-compass"></i>
                    <span class="menu-title" data-i18n="nav.content.main">Content</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#">
                    <i class="la la-server"></i>
                    <span class="menu-title" data-i18n="nav.components.main">Components</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#">
                    <i class="la la-diamond"></i>
                    <span class="menu-title" data-i18n="nav.extra_components.main">Extra Components</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#">
                    <i class="la la-eye"></i>
                    <span class="menu-title" data-i18n="nav.icons.main">Icons</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="animation.html">
                    <i class="la la-spinner spinner"></i>
                    <span class="menu-title" data-i18n="nav.animation.main">Animation</span>
                </a>
            </li>
            <li class=" navigation-header">
                <span data-i18n="nav.category.forms">Forms</span>
                <i class="la la-ellipsis-h ft-minus" data-toggle="tooltip" data-placement="right" data-original-title="Forms"></i>
            </li>
            <li class=" nav-item">
                <a href="#">
                    <i class="la la-terminal"></i>
                    <span class="menu-title" data-i18n="nav.form_elements.main">Form Elements</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#"><i class="la la-file-text"></i>
                    <span class="menu-title" data-i18n="nav.form_layouts.main">Form Layouts</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#">
                    <i class="la la-th-large"></i>
                    <span class="menu-title" data-i18n="nav.datatable_extensions.main">DataTables Ext.</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#">
                    <i class="la la-th-list"></i>
                    <span class="menu-title" data-i18n="nav.handson_table.main">Handson Table</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="table-jsgrid.html">
                    <i class="la la-table"></i><span class="menu-title" data-i18n="nav.table_jsgrid.main">jsGrid</span>
                </a>
            </li>
            <li class=" navigation-header">
            <span data-i18n="nav.category.addons">Add Ons</span>
            <i class="la la-ellipsis-h ft-minus" data-toggle="tooltip" data-placement="right" data-original-title="Add Ons"></i>
            </li>
            <li class=" nav-item">
                <a href="#">
                    <i class="la la-edit"></i>
                    <span class="menu-title" data-i18n="nav.editors.main">Editors</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#">
                    <i class="la la-code-fork"></i>
                    <span class="menu-title" data-i18n="nav.jquery_ui.main">jQuery UI</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="add-on-block-ui.html">
                    <i class="la la-terminal"></i>
                    <span class="menu-title" data-i18n="nav.add_on_block_ui.main">Block UI</span>
                </a>
            </li>
            <li class=" navigation-header">
                <span data-i18n="nav.category.support">Support</span>
                <i class="la la-ellipsis-h ft-minus" data-toggle="tooltip" data-placement="right" data-original-title="Support"></i>
            </li>
            <li class=" nav-item">
                <a href="http://support.pixinvent.com/"><i class="la la-support"></i>
                    <span class="menu-title" data-i18n="nav.support_raise_support.main">Raise Support</span></a>
            </li>
            <li class=" nav-item">
                <a href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/documentation">
                    <i class="la la-text-height"></i>
                    <span class="menu-title" data-i18n="nav.support_documentation.main">Documentation</span>
                </a>
            </li>
        </ul>
    </div>
</div>
