<div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item">
                <a href="/learning">
                    <i class="la la-home"></i>
                    <span class="menu-title" data-i18n="nav.dash.main">Dashboard</span>
                    <span class="badge badge badge-info badge-pill float-right mr-2">3</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#">
                    <i class="la la-television"></i>
                    <span class="menu-title" data-i18n="nav.templates.main">Academy</span>
                </a>
            </li>
            <li class=" navigation-header">
                <span data-i18n="nav.category.layouts">Forums</span>
                <i class="la la-ellipsis-h ft-minus" data-toggle="tooltip" data-placement="right" data-original-title="Layouts"></i>
            </li>
            <li class=" nav-item"><a href="#">
                <i class="la la-columns"></i>
                <span class="menu-title" data-i18n="nav.page_layouts.main">Skills + Drills</span>
                <span class="badge badge badge-pill badge-danger float-right mr-2">New</span></a>
            </li>
            <li class=" nav-item">
                <a href="#">
                    <i class="la la-arrows-h"></i>
                    <span class="menu-title" data-i18n="nav.horz_nav.main">My Statistics</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#">
                    <i class="la la-header"></i>
                    <span class="menu-title" data-i18n="nav.page_headers.main">Messages</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#">
                    <i class="la la-paint-brush"></i>
                    <span class="menu-title" data-i18n="nav.color_palette.main">Blog</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#">
                    <i class="la la-puzzle-piece"></i>
                    <span class="menu-title" data-i18n="nav.starter_kit.main">Store</span>
                </a>
            </li>
        </ul>
    </div>
</div>
