<div class="d-flex flex-column">
    <div class="d-flex justify-content-center icons flex-wrap">
        <div class="p-2 active">
            <img src="/assets/images/home/menu-icon.png">
            <br>
            <span>Learn the method</span>
        </div>
        <div class="p-2">
            <img src="/assets/images/home/menu-icon.png">
            <br>
            <span>Customize your drills</span>
        </div>
        <div class="p-2">
            <img src="/assets/images/home/menu-icon.png">
            <br>
            <span>Track your progress</span>
        </div>
        <div class="p-2">
            <img src="/assets/images/home/menu-icon.png">
            <br>
            <span>Make connections</span>
        </div>
        <div class="p-2">
            <img src="/assets/images/home/menu-icon.png">
            <br>
            <span>Take with you</span>
        </div>
        <div class="p-2">
            <img src="/assets/images/home/menu-icon.png">
            <br>
            <span>Continue to grow</span>
        </div>
    </div>
    <div class="d-flex justify-content-between content flex-column flex-sm-row">
        <div class="p-0 about">
            <h2>
                <i class="glyphicon glyphicon-play-circle"></i>
                &nbsp;THE ONLINE ACADEMY
            </h2>
            <p class="explain">
                Lorem ipsum dolor sit amet, consecteur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore 
                magna aliqua. Ut enim ad minim veniam, quis nostrud 
                exercitation ullamco laboris nisi ut aliquip ex ea commo-
                do consequat. Duis aute irure. Ut enim ad minim.
            </p>
            <p class="arrows">
                <i class="glyphicon glyphicon-chevron-left"></i>
                <i class="glyphicon glyphicon-chevron-right"></i>
            </p>
        </div>
        <div class="p-0 portfolio">
            <img src="/assets/images/home/macbook.png">
        </div>
    </div>
</div>
