<div class="d-flex flex-column">
    <div class="d-flex justify-content-md-center icons">
        <div class="p-2 active">
            <img src="/assets/images/home/icon-online-academy.png">
            <br>
            <span>Online Academy</span>
        </div>
        <div class="p-2">
            <img src="/assets/images/home/icon-skills-and-drills.png">
            <br>
            <span>Skills and Drills</span>
        </div>
        <div class="p-2">
            <img src="/assets/images/home/icon-community-forums.png">
            <br>
            <span>Community Forums</span>
        </div>
        <div class="p-2">
            <img src="/assets/images/home/icon-chat-messenger.png">
            <br>
            <span>Chat Messenger</span>
        </div>
        <div class="p-2">
            <img src="/assets/images/home/icon-members-store.png">
            <br>
            <span>Members Store</span>
        </div>
        <div class="p-2">
            <img src="/assets/images/home/icon-play-practise-stats.png">
            <br>
            <span>Play + Practise Stats</span>
        </div>
    </div>
    <div class="d-flex justify-content-between content flex-column flex-sm-row">
        <div class="p-0 about">
            <h2>HAVE DEEPER INSIGHTS</h2>
            <img src="/assets/images/home/icon-selector-connect-mobile.png" class="d-block d-sm-none">
            <p class="explain">
                The Practice + Play App is a huge asset to anybody who 
                truly wants to improve their overall game. Learn the finder 
                points of disecting your rounds and practice sessions 
                and allow our algorithms to help curate content that 
                directly relates to your needs, based on your goals.
            </p>
            <p class="short-explain">INCLUDED WITH MEMBERSHIP LEVELS I && II</p>
            <p class="arrows">
                <i class="glyphicon glyphicon-chevron-left"></i>
                <i class="glyphicon glyphicon-chevron-right"></i>
            </p>
        </div>
        <div class="p-0 portfolio">
            <img src="/assets/images/home/icon-selector-connect.png" class="d-none d-sm-block">
        </div>
    </div>
</div>
