<div class="d-flex flex-column p-0 splash">
    <div class="p-0 menu">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#">
                        <span class="fa fa-bars"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="/assets/images/home/elements/georgeGankasLogoWebWhite.png">
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div class="d-flex content justify-content-between flex-column flex-md-row">
        <div class="p-0 title">
            <h1><div>MAKE THE MOST<br>OF YOUR GAME</div></h1>
        </div>
        <div class="p-0 signup">
            <div class="cards">
                <div class="card-header">
                    <button type="button" class="btn btn-block btn-social btn-facebook">
                        <span class="fa fa-facebook"></span>
                        Sign up with Facebook
                    </button>
                    <button type="button" class="btn btn-block btn-social btn-google">
                        <span class="fa fa-google"></span>
                        Sign up with Google
                    </button>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="eMailInput">Email</label>
                            <input type="email" class="form-control" id="eMailInput" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="passwordInput">New Password</label>
                            <label class="showpass"><i class="fa fa-eye"></i>&nbsp;&nbsp;Show</label>
                            <input type="email" class="form-control" id="passwordInput" placeholder="Enter password">
                            <small class="form-text form-muted">
                                <br>By signing up you agree to Strava's <u><a href="#">Terms and Conditions</a></u>.
                            </small>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-lg btn-primary">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>
