<div class="d-flex flex-column p-0 splash">
    <div class="p-0 menu">
        <nav class="navbar">
            <a class="navbar-brand" href="#"><img src="/assets/images/home/elements/georgeGankasLogoWebWhite.png"></a>
            <div class="float-right nav-items">
                <div class="nav-item float-left">SIGN UP</div>
                <div class="nav-item float-right">LOG IN</div>
            </div>
            <!-- <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#">
                        <img src="/assets/images/home/menu-bar.png">
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="/assets/images/home/elements/georgeGankasLogoWebWhite.png">
                    </a>
                </div>
            </div> -->
        </nav>
    </div>
    <div class="d-flex content justify-content-between flex-column flex-md-row">
        <div class="p-0 title">
            <h1><div>MAKE THE MOST<br>OF YOUR GAME.</div></h1>
        </div>
        <div class="p-0 signup">
            <div class="cards">
                <div class="card-header">
                    <button type="button" class="btn btn-block btn-social btn-facebook">
                        <span class="fa fa-facebook"></span>
                        Sign up with Facebook
                    </button>
                    <button type="button" class="btn btn-block btn-social btn-google">
                        <img src="/assets/images/home/icons/google-icon.svg">
                        Sign up with Google
                    </button>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label class="font-weight-bold" for="eMailInput">Email</label>
                            <input type="email" class="form-control" id="eMailInput" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="passwordInput">New Password</label>
                            <div class="showpass float-right"><i class="fa fa-eye"></i>&nbsp;&nbsp;<div class="float-right">Show</div></div>
                            <input type="email" class="form-control" id="passwordInput" placeholder="Enter password">
                            <small class="form-text form-muted">
                                <br>By signing up you agree to George Gankas Golf's <u><a href="#">Terms and Conditions</a></u>.
                            </small>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-lg btn-primary">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-icons d-flex flex-row flex-wrap justify-content-center">
        <img src="/assets/images/home/present-circle.png">
        <img src="/assets/images/home/present-x.png">
        <img src="/assets/images/home/present-trackman.png">
        <img src="/assets/images/home/present-titlelist.png">
    </div>
</div>
