.splash {
    width: 100%;
    background-image: url('/assets/images/home/home.png');
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    z-index: -1;

    & .menu nav {
        color: #FFFFFF;
        font-size: 25px;
        font-family: 'Myriad Pro Regular';
        padding: 25px;

        & .navbar-brand {
            color: #FFFFFF;
            font-size: 25px;
            font-family: 'Myriad Pro Light';
        }
    }

    & .content {
        padding: 100px !important;

        & .title {
            width: 60%;

            & h1 {
                display: inline-block;
                font-family: 'Bebas Neue';
                font-size: 100px;
                color: #FFFFFF;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        & .signup {
            width: 40%;

            & .cards {
                margin: 0px auto;
                background-color: #FFFFFF;
                border-radius: 4px;
                padding: 20px;
                font-size: 12px;
                width: 350px;

                & .card-header {
                    background-color: transparent;
                    border-width: 0px;

                    & button {
                        padding: 20px;
                        font-size: 14px;
                        border: 1px solid #F2F2F2;

                        &.btn-facebook {
                            background-color: #2A508E;
                            color: #FFFFFF;
                        }

                        & span {
                            float: left;
                        }
                    }
                }

                & .card-body {
                    & label {
                        padding: 8px 0px;

                        &.showpass {
                            float: right;
                            color: #9C9D97;
                        }
                    }

                    & input {
                        font-size: 12px;
                    }

                    & small, & small a {
                        color: #A5A5A5;
                    }
                }

                & .card-footer {
                    text-align: right;
                    background-color: transparent;
                    border-color: #FFFFFF;

                    & button {
                        background-color: #03B2FC;
                        border-color: #03B2FC;
                        padding: 10px 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .splash {
        & .content {
            padding: 100px 30px !important;
            
            & .title {
                width: 50%;

                & h1 {
                    font-size: 60px;
                }
            }

            & .signup {
                width: 50%;
            }
        }
    }
}

@media (max-width: 767px) {
    .splash {
        & .content {
            padding: 100px 50px !important;
            
            & .title {
                width: 100%;

                & h1 {
                    font-size: 80px;
                }
            }

            & .signup {
                width: 100%;
            }
        }
    }
}

@media (max-width: 576px) {
    .splash {
        & .content {
            padding: 100px 0px !important;

            & .title {
                width: 100%;

                & h1 {
                    padding: 0px 30px !important;
                    font-size: 60px;
                }
            }

            & .signup {
                width: 100%;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}
