<div class="d-flex justify-content-between method flex-column flex-sm-row">
    <div class="p-2 introduction">Video</div>
    <div class="p-2 content order-first order-sm-1">
        <h2>WHAT IS GEORGE'S METHOD?</h2>
        <p class="d-none d-sm-block">
            The beauty in George's methodology is that he really doesn't have one. 
            Rather, George has developed a seemless and dynamic approach to crea-
            ting match ups for every skill level and physical make up. This coaching 
            process consists of four things. 1. creating efficient movement. 2. develop-
            ing speed and power 3. allowing statistics to drive practice. 4. building 
            complete players that are strong in all areas of the game.
        </p>
    </div>
</div>
