.pl-px-2 { padding-left: 2px !important; }
.pr-px-2 { padding-right: 2px !important; }

.pl-px-18 { padding-left: 18px !important; }
.pr-px-18 { padding-right: 18px !important; }

.pl-px-16 { padding-left: 16px !important; }
.pr-px-16 { padding-right: 16px !important; }

.pb-px-20 { padding-bottom: 20px; }
.pl-px-20 { padding-left: 20px; }
.pr-px-20 { padding-right: 20px; }
.pt-px-20 { padding-top: 20px; }

.method {
    padding-bottom: 100px;

    & .introduction {
        width: 50%;
        margin: 5px;
        background-image: url('/assets/images/home/method.png');
        background-position: center;
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
    }
    
    & .content {
        width: 50%;
        margin: 5px;
        background-color: #383838;
        color: white;
        padding: 100px 50px !important;
    
        & h2 {
            font-family: 'Montserrat Black', arial;
            font-size: 28px;
            margin-bottom: 30px;
        }
    
        & p {
            font-family: 'Myriad Pro Light';
            font-size: 16px;
        }

        & .bottom {
            position: relative;
            bottom: -100px;
            margin-left: -50px;
            margin-right: -50px;
            background-color: white;
            padding-top: 4px;

            & .method-item {
                background-color: white;
                padding: 0px;

                & .method-content {
                    padding: 20px;
                    background-color: #383838;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .method {
        & .introduction {
            width: 100%;
            height: 400px;
            margin: 0px;
        }

        & .content {
            width: 100%;
            padding: 20px 0px !important;
            margin: 0px;

            & h2 {
                text-align: center;
                margin: 0px;
            }
        }
    }
}
