<div class="d-flex flex-column pros-testimonials">
    <div class="p-0 title">"</div>
    <div class="p-0 review">
        <p>
            "Lorem ipsum dolor sit amet, consecteur adipiscing elit, sed do eiusmod tempor inci-
            didunt ut labore et dolore magna aliqua. Ut enim ad minum veniam, quis nostrud ex-
            ercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure. Ut
            enim ad minim. incididunt ut labore et dolore magna aliqua"
        </p>
    </div>
    <div class="p-0 d-flex flex-row justify-content-between clients">
        <div class="p-2">
            <img src="/assets/images/home/review.png">
            <br>
            <span>
                <b>ADAM SCOTT</b>
                <br>
                PGA PROFESSIONAL
            </span>
        </div>
        <div class="p-2 active">
            <img src="/assets/images/home/review.png">
            <br>
            <span>
                <b>ADAM SCOTT</b>
                <br>
                PGA PROFESSIONAL
            </span>
        </div>
        <div class="p-2">
            <img src="/assets/images/home/review.png">
            <br>
            <span>
                <b>ADAM SCOTT</b>
                <br>
                PGA PROFESSIONAL
            </span>
        </div>
    </div>
</div>
