.pros-testimonials {
    margin-bottom: 100px;
    font-family: 'Montserrat Light', arial;
    font-size: 28px;
    padding-left: 20px;
    padding-right: 20px;

    b {
        font-family: 'Montserrat Bold', arial;
    }

    img {
        width: 200px;
    }
}

@media (max-width: 576px) {
    .pros-testimonials {
        font-size: 20px;
    }
}
