<div class="d-flex flex-column">
    <div class="p-0 splash">
        <h1>LET YOUR STATS<br>DO THE TALKING.</h1>
    </div>
    <div class="d-flex justify-content-between content">
        <div class="p-2 about">
            <h2>
                <i class="glyphicon glyphicon-play-circle"></i>
                &nbsp;TRACKING <u><b>YOUR</b></u> STATS
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing edit, 
                sed do eiusmod tempor incididunt ut labore et dolore 
                magna aliqua. Ut enim and minim veniam, quis nostrud 
                exercitation ullamco laboris nisi ut aliquip ex ea commo-
                do consequat. Duis aute irure. Ut enim ad minim.
            </p>
        </div>
        <div class="p-2 portfolio">
            <img src="/assets/images/home/stats-table.png">
        </div>
    </div>
</div>
