h1 {
    font-family: 'Montserrat Black', arial;
    color: white;
    font-size: 80px;
}

h2 {
    font-family: 'Montserrat Black', arial;
    color: black;
    font-size: 28px;
}

p {
    font-family: 'Montserrat Light', arial;
    font-size: 15px;
}
