$title-color: #FFFFFF;
$border-color: #F9F9F9;

button {
    font-family: 'Myriad Pro';
    font-size: 16px;
    font-weight: bold;
    width: 100%;

    &.inner {
        background-color: #08ABF0;
        color: #FFFFFF;
        padding: 20px;
        border: 1px solid #08ABF0;
    }

    &.outer {
        background-color: transparent;
        color: #000000;
        border: 1px solid #08ABF0;
    }
}

.btn-group {
    width: 100%;
}

.splash {
    width: 100%;
    background-image: url('/assets/images/home/plan.png');
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    z-index: -1;
    padding: 250px 100px !important;

    & h1 {
        font-family: 'Bebas Neue';
        font-size: 100px;
        color: $title-color;
    }
}

.content {
    padding: 0px 10px 100px 10px !important;
}

.content .card {
    border-color: $border-color;
    margin: 1px;
    border-radius: 0px;
    width: 20%;
    min-width: 220px;

    & .card-header {
        background-color: #FFFFFF;
        font-family: 'Myriad Pro';
        color: #08ABF0;
        font-weight: bolder;
        font-size: 20px;
        padding: 25px 0px;
        border-width: 0px;
        height: 85px;
        text-align: center;
    }

    & .card-body {
        padding: 0px;

        & ul {
            list-style: none;
            text-align: center;
            margin: 0px;
            padding: 0px;

            & li {
                border-bottom: 1px solid $border-color;
                font-family: 'Myriad Pro';
                font-size: 16px;
                font-weight: bolder;
                padding: 10px 0px;

                &.checked {
                    color: #B3BD02;
                }

                &.unchecked {
                    color: #F33E19;
                }
            }
        }
    }

    & .card-footer {
        background-color: #F9F9F9;
        border-width: 0px;
        padding: 20px;
        text-align: center;

        & .info {
            font-family: 'Myriad Pro Semibold';
            font-size: 12px;
            display: table;
            height: 80px;
            width: 100%;

            & div {
                display: table-cell;
                vertical-align: middle;
            }

            &.price div {
                display: table-cell;
                vertical-align: bottom;

                & .currency {
                    font-family: 'Myriad Pro Semibold';
                    font-size: 40px;
                }

                & .money {
                    font-family: 'Myriad Pro Bold';
                    font-weight: bolder;
                    font-size: 48px;
                }

                & .period {
                    font-family: 'Myriad Pro Regular';
                    font-size: 22px;
                }
            }
        }
    }

    &.basic, &.standard, &.premium {
        margin-top: -85px;
        transition: all .3s ease-in-out;

        &:hover {
            transform: scale(1.02);
            -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .08);
            box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .08);
        }
    }

    &.plans {
        height: 100%;
    }
}

@media (max-width: 907px) {
    .splash {
        padding: 250px 0px 250px 50px !important;
    }

    .content .card {
        &.premium {
            margin-top: 35px;
        }
    }
}

@media (max-width: 768px) {
    .splash {
        padding: 250px 0px 250px 50px !important;
    }

    .content .card {
        &.premium {
            margin-top: 35px;
        }
    }
}

@media (max-width: 685px) {
    .splash {
        padding: 250px 0px 250px 50px !important;
    }

    .content .card {
        &.standard, &.premium {
            margin-top: 35px;
        }
    }
}

@media (max-width: 576px) {
    .splash {
        padding: 250px 0px 250px 30px !important;

        & h1 {
            font-size: 60px;
        }
    }

    .content .card {
        &.standard, &.premium {
            margin-top: 35px;
        }
    }
}

@media (max-width: 463px) {
    .splash {
        padding: 250px 0px 250px 30px !important;

        & h1 {
            font-size: 60px;
        }
    }

    .content .card {
        &.basic {
            margin-top: 35px;
        }
        
        &.standard, &.premium {
            margin-top: 35px;
        }
    }
}
