@import '../global.scss';

$title-color: #FFFFFF;
$border-color: #F9F9F9;

button {
    font-family: 'Montserrat Regular', arial;
    font-size: 16px;
    font-weight: bold;
    width: 100%;

    &.inner {
        background-color: #08ABF0;
        color: #FFFFFF;
        padding: 20px;
        border: 1px solid #08ABF0;

        &:hover {
            background-color: #0AB6FF;
        }
    }

    &.outer {
        background-color: transparent;
        color: #000000;
        border: 1px solid #08ABF0;
    }
}

.btn-group {
    width: 100%;
}

.splash {
    width: 100%;
    background-image: url('/assets/images/home/plan.png');
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    z-index: -1;
    padding: 250px 100px !important;
}

.content {
    padding: 0px 10px 100px 10px !important;
}

.content .card {
    border-color: $border-color;
    margin: 1px;
    border-radius: 0px;
    width: 20%;
    min-width: 220px;

    & .card-header {
        background-color: #FFFFFF;
        font-family: 'Montserrat Bold', arial;
        color: #08ABF0;
        font-weight: bolder;
        font-size: 20px;
        padding: 25px 0px;
        border-width: 0px;
        height: 85px;
        text-align: center;
    }

    & .card-body {
        padding: 0px;

        & ul {
            list-style: none;
            text-align: center;
            margin: 0px;
            padding: 0px;

            & li {
                border-bottom: 1px solid $border-color;
                font-family: 'Montserrat Bold';
                font-size: 14px;
                padding: 10px 0px;

                &.checked {
                    color: #B3BD02;
                }

                &.unchecked {
                    color: #F33E19;
                }
            }
        }
    }

    & .card-footer {
        background-color: #F9F9F9;
        border-width: 0px;
        padding: 20px;
        text-align: center;

        & .info {
            font-family: 'Myriad Pro Semibold';
            font-size: 12px;
            display: table;
            height: 80px;
            width: 100%;

            & div {
                display: table-cell;
                vertical-align: middle;
            }

            &.price div {
                display: table-cell;
                vertical-align: bottom;

                & .currency {
                    font-family: 'Montserrat Light', arial;
                    font-size: 40px;
                }

                & .money {
                    font-family: 'Montserrat ExtraBold', arial;
                    font-weight: bolder;
                    font-size: 48px;
                }

                & .period {
                    font-family: 'Montserrat Light', arial;
                    font-size: 22px;
                }
            }
        }
    }

    &.basic, &.standard, &.premium {
        margin-top: -85px;
        transition: all .3s ease-in-out;

        &:hover {
            transform: scale(1.02);
            -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .08);
            box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .08);
        }
    }

    &.plans {
        height: 100%;
    }
}

.mobile-content {
    padding: 0px 30px !important;
}

.mobile-content .card {
    border-width: 0px;

    &.plan {
        padding: 20px;
        padding-bottom: 70px;
        height: 150px;
        margin-top: -100px;

        & button {
            width: 50%;
            height: 60px;
            line-height: 60px;
            text-align: center;
            padding: 0px;
        }
    }

    &.basic, &.standard, &.premium {
        margin-bottom: 20px;

        & .card-header {
            background-color: #383838;
            padding: 0px;
            color: #FEFEFE;
            font-family: 'Myriad Pro Bold';
            height: 60px;
            line-height: 60px;
            border-width: 0px;
            margin-bottom: 5px;

            & .title {
                float: left;
                font-size: 20px;
                padding-left: 20px;
            }

            & .expand {
                float: right;
                height: 100%;
                font-size: 30px;
                width: 60px;
                text-align: center;
                border-left: 5px solid #222222;
            }
        }

        & .card-body {
            background-color: #F5F5F5;
            height: 60px;
            padding: 0px;
            border-width: 0px;
            line-height: 60px;

            & .price {
                float: left;
                font-family: 'Myriad Pro Semibold';
                font-size: 12px;
                height: 100%;
                padding: 0px 0px 0px 20px;

                & .currency {
                    font-family: 'Montserrat Light', arial;
                    font-size: 20px;
                }

                & .money {
                    font-family: 'Montserrat ExtraBold', arial;
                    font-weight: bolder;
                    font-size: 30px;
                }

                & .period {
                    font-family: 'Montserrat Light', arial;
                    font-size: 14px;
                }
            }

            & .signup {
                float: right;
                height: 100%;
                font-family: 'Myriad Pro Regular';
                padding: 0px 40px;
                font-size: 20px;
                background-color: #08abf0;
                color: #FFFFFF;
            }
        }
    }
}

@media (max-width: 907px) {
    .splash {
        padding: 250px 0px 250px 50px !important;
    }

    .content .card {
        &.premium {
            margin-top: 35px;
        }
    }
}

@media (max-width: 768px) {
    .splash {
        padding: 250px 0px 250px 50px !important;
    }

    .content .card {
        &.premium {
            margin-top: 35px;
        }
    }
}

@media (max-width: 685px) {
    .splash {
        padding: 250px 0px 250px 50px !important;
    }

    .content .card {
        &.standard, &.premium {
            margin-top: 35px;
        }
    }
}

@media (max-width: 576px) {
    .splash {
        padding: 250px 0px 250px 30px !important;
    }

    .content .card {
        &.standard, &.premium {
            margin-top: 35px;
        }
    }
}

@media (max-width: 463px) {
    .splash {
        padding: 250px 0px 250px 30px !important;
    }

    .content .card {
        &.basic {
            margin-top: 35px;
        }
        
        &.standard, &.premium {
            margin-top: 35px;
        }
    }
}
