<div class="d-flex flex-column">
    <div class="p-0 splash">
        <h1>BE CONFIDENT<br>IN THE INFO.</h1>
    </div>
    <div class="d-flex justify-content-between content flex-column flex-md-row">
        <div class="p-2 about">
            <div class="detail">
                <h2 class="title">
                    30 YEARS AT YOUR <u><b>FINGERTIPS.</b></u>
                </h2>
                <p class="explain">
                    George has been on a mission to identify and develop 
                    the best possible match ups for creating a powerful and 
                    efficient golf swing. In the end, Georges biggest contri-
                    bution to golf will be his selfless quest to empower golf-
                    ers every level with the right information.
                </p>
                <p class="footer">
                    <i class="glyphicon glyphicon-play-circle"></i>
                    &nbsp;PLAY THE VIDEO
                </p>
            </div>
        </div>
        <div class="p-2 portfolio order-first order-md-1">
            <img src="/assets/images/home/knowledge-georgeThought.png">
        </div>
    </div>
</div>
